.LeaderboardRow{
  background:  rgb(68,199,245);
  margin: 2%;
  padding: 1%;
  color:white;
  font-size: 1.4em;
  border: 2px solid black;
}

.LeaderboardRow-user{
}

.LeaderboardRow-score{
  float: right;
}

.selected {
  color: red;
}