.Header{
  width: 100%;
  height: 100px;
  background: black;
  color: white;
  font-size: 3em;
}

.HeaderQuizzy{
  float: left;
  padding-left: 5%;
}

.HeaderGreet{
  float: right;
  padding-right: 5%;
}