.QuestionContainer{
  border: 1px solid black;
  margin: 5%;

}
.QuestionContainer-header{
  border: 1px solid black;

  padding: 2%;
}
.QuestionContainer-question{
  border: 1px solid black;
  background: rgb(68,199,245);

  padding: 2%;
}
.QuestionContainer-options{

  padding: 2%;
}