.QuizContainer{
  display: flex;
  flex-direction: column;
  align-content: center;
}
.QuizContainerButtonWrapper{
  display: flex;
}
.QuizContainerSubmit{
  font-size: 2em;
  margin: auto;
  
  background-color: white;
  border-radius: 25px;
  border: 1px solid black;

  width: 200px;
}